.question-analysis {
    border: var(--translucent-border);
    border-radius: 10px;
    height: max-content;
    padding: 30px;
}

.question-top-bar {
    display: flex;
    justify-content: space-between;
}

.marks {
    font-weight: 600;
    color: blue;
}

.question-botton-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}

.bullseye {
    z-index: 9999;
}